html{
  box-sizing: border-box;
}

*,
*::after
*::before{
  box-sizing: inherit;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}

.container{
  max-width: 1240px;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}



body{
/*font-family: 'Libre Baskerville', serif;*/
font-family: 'Nunito Sans', sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
color: #0E0E0E;
}


.header_inner{
  display: flex;  
  align-items: center;
  min-height: 60px;
  margin-top: 10px;
  
}



.menu_list{
  font-weight: 400;
  font-style: 18px;
  display: flex;
  align-items: center;
  gap: 0 80px;
  margin-left: 480px;
}
.menu_limk:hover {
  background:none;
  color: #E01438;
}

.top{
  max-width: 1240px;
  display: flex;
  justify-content: space-between ;
  margin:0 auto;
  padding-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}

.toptitle{
 color: #0E0E0E;
 font-family: 'Libre Baskerville', serif;
 font-size: 72px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 letter-spacing: 2px;
 margin-top: 40px;
 
 min-height: 40px;
 max-width: 468px;
 
}
.toptext{
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: normal;
 max-width: 600px;
 padding-right: 60px;
 margin-top: 24px;
 
}

.image1{
 float: right;
 max-width: 568px;
 max-height: 464px;
 margin-left: 60px;
 padding-left: 120px;
 position: inherit;
 
 
}

.blockquote{
  color: #E01438;
  text-align: center;
  font-family: 'Libre Baskerville', serif;
  font-style: italic;
  font-size: 32px;
  max-width: 908px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 60px;
}

h2{
  font-family: 'Libre Baskerville', serif;
  font-size: 36px;
  text-align: center;
  margin-bottom: 30px;
}

.earlylife{
  max-width: 1240px;
  margin:0 auto;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}
.img2{
  float: left;
  max-width: 704px;
  padding-right: 92px;
}

.rtxt2{
  float: right;
  text-align: left;
  max-width: 404px;
  border-bottom: 1px solid #E01438;
 
}

.text{
  max-width: 1240px;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: center;
}
.text3{
  max-width: 712px;
  margin-top: 80px;
  margin-bottom: 80px;
  border: 1px solid #E01438;
  padding: 40px;
  

  
}

.text4{
  max-width: 712px;
  margin-bottom: 20px;
}

.button{
  text-align: center;
  margin-bottom: 60px;
  
}
.btn {
  font-size: 18px;
  margin: 0 auto;
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  font-weight: bold;
}

/* При наведении курсора мыши */
.btn:hover {background:none;
color: #E01438;}

.success {color: green;}
.info {color: dodgerblue;}
.warning {color: orange;}
.danger {color: rgb(224, 55, 55);}
.default {color: black;}

.movies{
  max-width: 1240px;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
}

.paragraph{
  max-width: 712px;
  margin:0 auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #E01438;
  padding: 30px;
  
}
 .fig{
    float:right; 
    padding-left: 20px;
    padding-top: 10px; 
     
 }
.paragraph2{
  max-width: 712px;
  margin:0 auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.legacy{
  margin-top: 35px;
  margin-bottom: 10px;
}
.image5{
  width: 420px;
 height: 420px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  
}

#footer{
  display: table;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
}